@font-face {
  font-family: "HK Grotesk";
  src: url("assets/scss/fonts/HKGrotesk-Regular.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HK Grotesk";
  src: url("assets/scss/fonts/HKGrotesk-Light.otf");
  font-style: normal;
  font-weight: unset;
}
@font-face {
  font-family: "HK Grotesk";
  src: url("assets/scss/fonts/hk-grotesk/HKGrotesk-Bold.otf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "HK Grotesk";
  src: url("assets/scss/fonts/hk-grotesk/HKGrotesk-Italic.otf");
  font-style: italic;
  font-weight: normal;
}
